{% extends "food/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/hotel_register.css' %}">
{% endblock style %}

{% block content %}

<div class="bhead">
    <center>
        <h2 class="boy_heading boy_padding">Serve with us</h2>
    </center>
</div>    

<div class="boy">
    <form method="POST" class="py-4" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- =========Personal Information========== -->
        <h5 class="boy_heading boy_padding">Personal Information</h5>
        <hr>
        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6 pb-4 pb-md-0">
                <label for="" class="label">Owner Name :- </label>
                <input class="input" value={{request.user.name}} disabled id="owner_name" type="text">
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="label">Owner Contact Number :- </label>
                <input class="input" id="number" value={{request.user.number}} disabled type="number">
            </div>
        </div>
        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6">
                <label for="" class="label">Owner Email Id:- </label>
                <input class="input" value={{request.user.email}} disabled id="email" type="text">
            </div>
        </div>


        <!-- =========physical address========== -->
        <h5 class="boy_heading boy_padding mt-5">Address Information</h5>
        <hr>
        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6 pb-4 pb-md-0">
                <label for="address" class="label">Address :- </label>
                <input class="input" disabled value={{delivery_form.address}} id="address" name="address" type="text">
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="label">Restaurant City :- </label>
                <input class="input" id="city" disabled value={{delivery_form.city}} name="city" type="text">
            </div>
        </div>
        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6 pb-4 pb-md-0">
                <label for="" class="label">Restaurant Country :- </label>
                <input class="input" value="India" type="text" disabled>
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="label">Postel Code :- </label>
                <input class="input" id="code" disabled value={{delivery_form.pincode}} name="code" type="number">
            </div>
        </div> 

        <!-- =========Personal Information========== -->
        <h5 class="boy_heading boy_padding mt-5">Additional Information</h5>
        <hr>
        <!-- <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6 pb-4 pb-md-0">
                <label for="" class="label">Restaurant Name :- </label>
                <input class="input" id="name" type="text">
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="label">Type of cuisine :- </label>
                <input class="input" id="cuisine" name="cuisine" type="text">
            </div>
        </div> -->

        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6">
                <label for="" class="label">Serving hours :- </label>
                <div class="row">
                    <div class="col-6">
                        <label class="label">From :- </label>
                        <input class="input" name="from" id="from" min="1" type="time">
                    </div>
                    <div class="col-6">
                        <label class="label">To :- </label>
                        <input class="input" name="till" id="till" min="1" type="time">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="label">How Much Money Do You Charge Per Kilometer ?</label>
                <input class="input" id="cost" name="cost" min=1 value={{delivery_form.money}} type="number">
            </div>
        </div>

        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6">
                <label for="" class="label">Enter The Area/Range Till Where You Can Cover For Delivery Of Food. (Km)</label>
                <input class="input" id="range" value={{delivery_form.range_of_delivery}} name="range" type="text">
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="label">Type of vehicle ?</label>
                <input class="input" id="vehicle" value={{delivery_form.vehicle}} name="vehicle" type="text">
            </div>
        </div>
        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6 pb-4 pb-md-0">
                <label for="" class="label">Your Picture :-</label>
                <input class="input" id="picture" name="picture" type="file">
            </div>
            <div class="col-12 col-md-6 pb-4 pb-md-0">
                <label for="" class="label">Driving Licence Image :-</label>
                <input class="input" id="driving_licence" name="driving_licence" type="file">
            </div>
        </div>  
            
        <div class="row boy_padding mb-3">
            <div class="col-12 col-md-6 pb-4 pb-md-0">
                <label for="" class="label">Aadhar Card Image :-</label>
                <input class="input" id="aadhar_card" name="aadhar_card" type="file">
            </div>
        </div> 
        <!-- =========Submit========== -->
        <center>
            <button class="mx-4 button my-3" id="submit">Submit</button>
        </center>
    </form>
</div>

{% endblock content %}
{% block customscript %}
<script src="{% static 'js/hotel_register.js' %}"></script>
{% endblock customscript %}