body {
  font-family: "Times New Roman", Times, serif;
}
.bg_grey {
  background-color: rgb(246, 246, 246);
}
.side_border {
  border-left: 3px solid grey;
  border-right: 3px solid grey;
}
.cart_img {
  width: 100% !important;
  /* min-height: 200px; */
  /* max-height: 300px; */
}
.product_desc {
  text-align: justify;
}
.min_height {
  height: inherit;
}
.quan_button {
  color: white;
  background: orange;
  border: none;
  outline: none !important;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 15px;
  border-radius: 50%;
}
.remove {
  background: white;
  border: none;
  outline: none !important;
  font-size: 20px;
}
.button {
  font-size: 18px;
  border: none;
}
.button:hover {
  color: white;
}
#buttons {
  display: none;
}
.text_orange {
  color: orange !important;
}
.text_orange:hover {
  color: rgb(0, 174, 255) !important;
}
